/*a
{
    margin-left: 12px;
    color: darkviolet;
    text-decoration: none;
}*/
/*a:visited
{
    color: aqua;
}*/
/*a:hover
{
    text-decoration: underline;
}
.Dashboardseite .Dashboard,
.Transaktionseite .Transaktion,
.Periodenauswertungseite .Periodenauswertung,
.Kategorienauswertungseite .Kategorienauswertung,
.Transaktiontestseite .Test_Transaktion
{
    background-color: orangered;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
ul a, ul a:visited
{
    text-decoration: none;
    color: aqua;
}*/

.fehler
{
    color: red;
    font-weight: bold;
}


body
{
    min-height: auto;
    margin-bottom: 60px;
}


label, input[type=submit]
 {
     display: block;
     cursor: pointer;
 }

table tr:nth-of-type(odd)
{
    background-color: #c1dce8;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}
.chart
{
    width: 100%;
    min-height: 400px;
}

li #logout
{
    margin-left: 30px;
}

